### Maven
target/

### Angular CLI
/dist
/tmp
/.tmp
/node_modules

### IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
/.vs
/obj/
/bin/

### Test
logs

### MacOS
.DS_Store
/consumers/csharp/csharp-client/obj
/consumers/csharp/csharp-pact-consumer/obj
/providers/csharp/.vs/csharp
/providers/csharp/csharp-api/obj
/providers/csharp/csharp-pact-provider/obj
